<div class="col-md-13">
	<label for="find_user" class="col-md-1 col-md-offset-1" style="margin-right: 2em;">Buscar usuarios</label>
	<div ng-click="selectUsers($event);" class="select-container">
		<i style="position:absolute; top:13px;right:15px" ng-show="finding_users" class="fa fa-spin fa-refresh">
		</i>
		<span class="select-selected">
			<span ng-repeat="user in users track by $index" ng-init="i=$index" class="select-selected-item">
				<span ng-bind="user.completeName+' ('+user.userName+')'" class="selected-item-label"></span>
				<input type="hidden" name="users[]" ng-value="user.userId">
				<span ng-click="removeUser($index)" class="selected-item-delete no-selectable">&times;</span>
			</span>
		</span>
		<input id="findUser" type="text" autocomplete="off" ng-trim="true" ng-model="find_user" ng-change="searchUsers()" placeholder="Buscar usuario" class="form-control select-input"/>
	</div>
	<div ng-show="userOptions.length > 0">
		<div class="select-options-container">
			<div ng-repeat="user in userOptions track by $index" ng-init="i=$index" ng-click="adduser(i)" class="select-option no-selectable">
				<span ng-bind="user.completeName+' ('+user.userName+')'" class="selected-option-label"></span>
			</div>
		</div>
	</div>
</div>
	