<input type="hidden" ng-repeat="user in users track by $index" name="users[]" value="{{user.userId}}" />
<div class="select-container" ng-click="selectClick($event);">
	<i class="fa fa-spin fa-refresh " style="position:absolute; top:13px;right:25px" ng-show="finding"></i>
	<span class="select-selected">
		<span class="select-selected-item" ng-repeat="user in users track by $index" ng-init="i=$index">
			<span cn-square-image cls="selected-item-image" url="/{{folder}}/users/profilephoto?userId={{user.userId}}&wah=200"></span>
			<span class="selected-item-label" ng-bind="user.completeName+' <'+user.userName+'>'" ></span>
			<span class="selected-item-delete no-selectable" ng-click="removeUser(i)">&times;</span>
		</span>
	</span>
	<input type="text" autocomplete="off" class="input-sm form-control select-input" ng-trim="true" ng-model="findLike" ng-change="searchUsers()" id="findInput" placeholder="{{placeholder}}" />
</div>
<div class="select-options-container-super" ng-show="userOptions.length > 0">
	<div class="select-options-container">
		<div class="select-option no-selectable" ng-repeat="user in userOptions track by $index" ng-init="i=$index" ng-click="addUser(i)">
			<span cn-square-image cls="selected-option-image" url="/{{folder}}/users/profilephoto?userId={{user.userId}}&wah=200"></span>
			<span class="selected-option-label" ng-bind="user.completeName+' <'+user.userName+'>'"></span>
		</div>
	</div>
</div>