<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <label class="control-label" ng-bind="title"></label>
        <div class="form-group checkbox checkbox-angular" ng-repeat="object in objects">
            <label ng-class="{check : object.checked}">
                <input type="checkbox" name="{{division}}[]" ng-model="object.checked" ng-value="object.objectId">{{object.name}}
            </label>
        </div>
    </div>
</div>