<!-- datepicker -->
<div class="form-group" id="datepicker-container" style="padding-left: 14.8em;">
        <p>Busqueda por rango de fechas de cumpleaños</p>
        
        <div class="input-daterange input-group" id="datepicker">
            <div class="col-sm-6">
                <p><b>Fecha desde:</b></p>
                <input type="text" class="input-sm form-control" id="start" name="start">
            </div>
            <div class="col-sm-6">
                <p><b>Fecha hasta:</b></p>
                <input type="text" class="input-sm form-control" id="end" name="end">
            </div>
        </div>
</div>
    <!-- end of datepicker -->