[resizer='vertical'] {
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15px;
	cursor: col-resize;
	transition: background-color 0.2s;
	z-index: 500;
}

[resizer='vertical'] span{
	top: 50%;
	margin-top: -10px;
	margin-left: 4px;
	height: 20px;
	width: 6px;
	position: absolute;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
}

[resizer='horizontal'] {
	position: absolute;
	left: 0;
	right: 0;
	height: 14px;
	cursor: row-resize;
	transition: background-color 0.2s;
	z-index: 500;
	bottom: 130px;
	background-color: #fff;
}

[resizer='horizontal'] span{
	left: 50%;
	margin-left: -10px;
	margin-top: 4px;
	width: 20px;
	height: 6px;
	position: absolute;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}