<div class="form-group col-md-8">
    <label for="filters">Seleccione algún filtro</label>
    <select name="filters" class="form-control" ng-model="selectedFilter" ng-options="y.description for (x,y) in filters" ng-change="addElement(selectedFilter)">
    </select>
</div>